* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
  height: 100vh;
  width: 100vw;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  width: 100vw;
  height: 8vh;
  font-size: 2.5rem;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7vw;
  height: 5vh;
  font-size: 1.25rem;
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  color: gray;
}

a:active {
  color: black;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
  padding: 2vh 2vw 0 2vw;
  background-color: lightgray;
  height: 88vh;
  width: 100vw;
}

p {
  max-width: 1000px;
}

button {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid black;
  background-color: white;
  font-size: 1rem;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.5s;
}

button:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

button:active {
  background-color: rgb(243, 243, 243);
}

h2 {
  display: flex;
  gap: 2vw;
}

main a:link {
  color: blue;
}

main a:visited {
  color: purple;
}

main a:link,
main a:visited {
  text-decoration: underline;
}
